.card__button {
  font-family: "Poppins", sans-serif;
  padding: 5px 30px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #5a84a2;
  background: #f2f3f7;
  font-size: 15px;
  border-radius: 40px;
  box-shadow: 10px 10px 20px #cbcccf, -11px -11px 22px #ffffff;
}

.card__button:hover {
  box-shadow: inset 8px 8px 10px #ebecf0, inset -8px -8px 10px #f9fafe;
  color: 150deg, rgba(169, 115, 242, 1);
}
