.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  color: #5a84a2;

  text-decoration: none;
  font-size: 1.4em;
  border-top: 1px solid #e7d8fb;
}

.navigation__link:hover {
  color: #a973f2;
}

.navigation__link--active {
  background: var(--background-g);
  background: var(--background-gradient);

  color: white;
}

.navigation__link--active:hover {
  color: white;
}
